<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <context-param>
    <param-name>daoFactory</param-name>
    <param-value>br.com.globalcode.dao.jdbc.JDBCFactory</param-value>
  </context-param>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>br.com.globalcode.aw.web.listener.Inicializador</listener-class>
  </listener>
  <filter>
    <description>Filtro de login de acesso</description>
    <filter-name>LogAcesso</filter-name>
    <filter-class>br.com.globalcode.filters.ControleDeAcesso</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogAcesso</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogAcesso</filter-name>
    <url-pattern>/lojaOnline/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogAcesso</filter-name>
    <url-pattern>/lojaBackOffice/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletFrontController</servlet-name>
    <servlet-class>br.com.globalcode.aw.web.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFrontController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/erros/error404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/erros/generico.jsp</location>
  </error-page>
</web-app>
